{% extends 'app/base_template.html' %}
{% load static %}

{% block content %}
<a href="{% url 'master_admin_home_page_view' %}" class="btn btn-primary mt-2">Back to Home</a>

{% if messages %}
<div class="alert alert-info mt-3">
    <ul class="mb-0">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="my-4">
    <h2 class="page-title text-center">Generate Attendance Report</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Get PDF</button>
    </form>
</div>
{% endblock content %}