{% extends 'app/base_template.html' %}
{% load static %}

{% block content %}
    {% if additional_id %}
        <a href="{% url back_to_home_path_name additional_id %}" class="btn btn-primary mt-2">Back to Home</a>
    {% else %}
        <a href="{% url back_to_home_path_name %}" class="btn btn-primary mt-2">Back to Home</a>
    {% endif %}

    <h2 class="mt-4">Password Change Page</h2>

    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock content %}
